<head>
<style>
  table {
    border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }
      </style>
</head>
<body>
          <table>
		  <tr><th>Entry</th><th>Entry name</th><th>Status</th><th>Protein names</th><th>Gene names</th><th>Organism</th><th>Length</th><th>Drug_Count</th></tr>
		  {% for row in targets %}
		  <tr>
			  <td><a href="https://www.uniprot.org/uniprot/{{ row.prot_idx }}">{{ row.prot_idx }}</a></td>
			  <td>{{ row.entry_name }}</td>
			  <td>{{ row.status }}</td>
			  <td>{{ row.prot_name }}</td>
			  <td>{{ row.gene }}</td>
			  <td>{{ row.organism }}</td>
			  <td>{{ row.gene_length }}</td>
			  <td><a href="http://coke.mml.unc.edu/static/dtd_table.html# {{ row.prot_idx }}">{{ row.drug_count }}</a></td>
		  </tr>
		  {% endfor %}
	  </table>
</body>
</html>
